.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
  width: 80vw;
}

.App-ul {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  /* border: 2px solid yellow; */
}
.li-style {
  border: 2px solid rgb(160, 160, 194);
  list-style-type: none;
  padding: 10px 0 10px 0;
  text-align: center;
  margin: 2vh 0 2vh 0;
  background-color: #484f5e;
}

.li-active {
  color: #b7c8b5;
}

.button-style {
  border: 2px solid #b7c8b5;
  background-color: #b7c8b5;
  width: 50vw;
  padding: 5px 0 5px 0;
  font-size: 1em;
}
.button-style:disabled {
  background-color: #14161a;
}

.contents-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  max-height: 20vh;
}
.loading-h1 {
  font-size: 1.5em;
}
.balance-h1 {
  font-size: 1.5em;
  margin: 1rem;
}

.LoginForm-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid yellow;
  min-height: 3rem;
  padding: 0 1vw 1vh 1vw;
}

/* for desktop */
@media only screen and (min-width: 430px) {
  .App-link {
    width: 30vw;
  }
  .li-style:hover {
    background-color: #14161a;
  }
  .button-style {
    border: 2px solid #b7c8b5;
    background-color: #b7c8b5;
    width: 10vw;
    padding: 5px 0 5px 0;
    font-size: 1em;
  }
  .button-style:hover {
    background-color: #94a292;
  }
}
