.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
  width: 80vw;
}

.App-ul {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  /* border: 2px solid yellow; */
}
.li-style {
  border: 2px solid rgb(160, 160, 194);
  list-style-type: none;
  padding: 10px 0 10px 0;
  text-align: center;
  margin: 2vh 0 2vh 0;
  background-color: #484f5e;
}

.li-active {
  color: #b7c8b5;
}

.button-style {
}
.button-style:disabled {
  display: none;
}

@media only screen and (min-width: 430px) {
  .App-link {
    width: 30vw;
  }
  .li-style:hover {
    background-color: #14161a;
  }
}
